<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcisExtensionSDK" version="1.0.4.683" targetFramework="net462" />
  <package id="Autofac" version="4.6.2" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.28.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
</packages>